@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: #e7e4e4;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "poppins";
}

.card {
    width: 80%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 10);
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

.navbar ul {
    display: flex;
    gap: 20px;
}

.navbar ul li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: black;
}
.btn{
    display: flex;
    gap: 20px;
}
.signin,.plan{
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: 1s;
}
.navbar p{
    font-size: 18px;
    font-weight: bold;
}
.signin{
    background-color: black;
    color: white;
}

.plan:hover{
background-color: black;
color: white;
}
.contentholder{
    display: flex;
    padding: 0;
    
}
.text-section{
    padding: 40px;
    min-width: 55%;
    flex: 1;
    background-color: #f5eaea;
    
}
.text-section p{
    margin-bottom: 4px;
    padding-bottom: 0;
    font-size: 12px;
}
.text-section h3{
    margin-top: 0;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.text-section h6{
    font-weight: 480;
    margin-top: 0;
}
.text-section button{
    padding: 10px;
}
.text-section ul{
    padding: 0;
}
.text-section ul li{
    list-style: none;
}
.text-section li::before{
    content: "✔ ";
    margin-right: 8px;
}
.image-section{
    width: 45%;
}
.image-section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;

}
@media (max-width: 990px) {
    body{
        height: 110vh;
        
    }
    .card{
        width: auto;
    }
    .navbar{
        flex-direction: column;
    }
    .navbar ul{
        gap: 5px;
    }
    .contentholder{
        flex-direction: column-reverse;
    }
    .image-section{
        width: auto;
        

    }
    .image-section img{
        height: 100%;
        object-fit: cover;
        background-position: center;
    }
    
}
/* @media (max-width: 528px){
    body{
        height: 150vh;
    }
    .navbar ul li{
        padding: 5px;
        font-size: 12px;
        margin-right: 5px;
    }
} */